.App {
  text-align: center;
  /* color: #263436; */
  color: rgb(207, 207, 207);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(to right, #6565ff, #514bd6, #3d33af, #271c8a, #0d0466); */
  /* background-image: linear-gradient(to right, #443d85, #38307e, #2c2276, #1e146e, #0d0466); */
  background-image: radial-gradient(circle, #443d85, #38307e, #2c2276, #1e146e, #0d0466);
  min-height: 100vh;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

nav h1 {
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 60vh;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  width: 37vw;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

footer a {
  text-decoration: none;
  color: goldenrod;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

footer img {
  width: 50px;
  background-color: rgb(207, 207, 207);
  border-radius: 20%;
}

.perfilPicture {
  border-radius: 100%;
  width: 350px;
  filter: grayscale(100%);
  /* transform: scale(1.1); */
}

.github-icon, .js-icon, .react-icon {
  width: 50px;
  height: 50px;
}

.skills-list1 {
  display: flex;
  justify-content: center;
}

.skill-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 100px;
}

