.App {
  text-align: center;
  color: #263436;
  min-height: 90vh;
  min-width: 105vh;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #00aefd, #00a0ff, #308eff, #6079ff, #895ef8);
  min-height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
}

.info p {
  width: 57vh;
  margin-left: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills button {
  width: 200px;
}

.perfilPicture {
  border-radius: 100%;
  width: 300px;
  filter: grayscale(100%);
  /* transform: scale(1.1); */
}
