.App {
  text-align: center;
  /* color: #263436; */
  color: rgb(207, 207, 207);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(to right, #6565ff, #514bd6, #3d33af, #271c8a, #0d0466); */
  /* background-image: linear-gradient(to right, #443d85, #38307e, #2c2276, #1e146e, #0d0466); */
  background-image: radial-gradient(circle, #443d85, #38307e, #2c2276, #1e146e, #0d0466);
  min-height: 100vh;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

nav h1 {
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 60vh;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-paragraph {
  width: 37vw;
  font-size: 18px;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

footer a {
  text-decoration: none;
  color: goldenrod;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 50px;
  background-color: rgb(207, 207, 207);
  border-radius: 20%;
}

.perfilPicture {
  border-radius: 100%;
  width: 350px;
  filter: grayscale(100%);
}

.perfilPicture:hover {
  filter: grayscale(0%);
  transform: 0.5s;
}

.github-icon, .icons {
  width: 50px;
  height: 50px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.skills-list1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 100px;
}

.skill-list-item:hover {
  color: goldenrod;
}

.Projects-cards {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 776px;
  height: 440px;
}

.card h3 {
  color: rgb(207, 207, 207);
}

.card img {
  width: 500px;
  height: 312px;
  border: 10px solid white;
  border-radius: 20px;
  filter: opacity(60%);
}

.card a {
  text-decoration: none;
  width: 500px;
  /* border: 1px solid white;
  border-radius: 50px; */
}

.card img:hover {
  filter: opacity(100%);
 transition: 0.5s;
}

.contatos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.contatos li {
  list-style: none;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.contatos a {
  text-decoration: none;
  color: rgb(207, 207, 207);
  display: flex;
  align-items: center;
}

.contatos a:hover, .contatos li:hover {
  color: goldenrod;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Projects-cards {
    flex-wrap: wrap;
  }

  .card img {
    width: 450px;
  }

  .info-paragraph {
    width: 80vw;
  }
}

@media screen and (max-width: 670px) {
  .card img {
    width: 250px;
    height: 160px;
  }

  .card {
    height: 300px;
  }

  .perfilPicture {
    width: 270px;
  }

  .info-paragraph {
    width: 80vw;
    font-size: 14px;
  }

  .contatos {
    padding: 0;
  }

  .contatos li {
    width: 100%;
    padding: 0;
    margin: 30px 0;
  }
}

@media screen and (max-width: 280px) {
  .contatos li, .contatos li a {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 20px;
  }
}
